@charset 'utf-8';

@import url('http://fonts.googleapis.com/css?family=Droid+Sans|Fjalla+One');

@font-face {
	font-family: 'DejaVu Serif';
	src: url('../fonts/DejaVuSerif.eot'); /* here you go, IE */
	src: local('☺'),
		url('../fonts/DejaVuSerif.otf') format('opentype'),
		url('../fonts/DejaVuSerif.ttf') format('truetype'),
		url('../fonts/DejaVuSerif.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DejaVu Serif';
	src: url('../fonts/DejaVuSerif-Bold.eot'); /* here you go, IE */
	src: local('☺'),
		url('../fonts/DejaVuSerif-Bold.otf') format('opentype'),
		url('../fonts/DejaVuSerif-Bold.ttf') format('truetype'),
		url('../fonts/DejaVuSerif-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'DejaVu Serif';
	src: url('../fonts/DejaVuSerif-BoldItalic.eot'); /* here you go, IE */
	src: local('☺'),
		url('../fonts/DejaVuSerif-BoldItalic.otf') format('opentype'),
		url('../fonts/DejaVuSerif-BoldItalic.ttf') format('truetype'),
		url('../fonts/DejaVuSerif-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'DejaVu Serif';
	src: url('../fonts/DejaVuSerif-Italic.eot'); /* here you go, IE */
	src: local('☺'),
		url('../fonts/DejaVuSerif-Italic.otf') format('opentype'),
		url('../fonts/DejaVuSerif-Italic.ttf') format('truetype'),
		url('../fonts/DejaVuSerif-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'DejaVu Sans';
	src: url('../fonts/DejaVuSans.eot'); /* here you go, IE */
	src: local('☺'),
		url('../fonts/DejaVuSans.otf') format('opentype'),
		url('../fonts/DejaVuSans.ttf') format('truetype'),
		url('../fonts/DejaVuSans.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DejaVu Sans';
	src: url('../fonts/DejaVuSans-Bold.eot'); /* here you go, IE */
	src: local('☺'),
		url('../fonts/DejaVuSans-Bold.otf') format('opentype'),
		url('../fonts/DejaVuSans-Bold.ttf') format('truetype'),
		url('../fonts/DejaVuSans-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'DejaVu Sans';
	src: url('../fonts/DejaVuSans-BoldOblique.eot'); /* here you go, IE */
	src: local('☺'),
		url('../fonts/DejaVuSans-BoldOblique.otf') format('opentype'),
		url('../fonts/DejaVuSans-BoldOblique.ttf') format('truetype'),
		url('../fonts/DejaVuSans-BoldOblique.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'DejaVu Sans';
	src: url('../fonts/DejaVuSans-Oblique.eot'); /* here you go, IE */
	src: local('☺'),
		url('../fonts/DejaVuSans-Oblique.otf') format('opentype'),
		url('../fonts/DejaVuSans-Oblique.ttf') format('truetype'),
		url('../fonts/DejaVuSans-Oblique.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}
