.ui-actionpanel {
	height: 100px;
	width: 100%;
}

.ui-actionpanel .panel {
	/*padding: 4px;*/
	display: inline-block;
	width: 100%;
}
/* support: IE7 */
*+html .ui-actionpanel .panel {
	display: inline;
}

.ui-actionpanel .ui-actionpanel-waiting {
	font-family: 'Fjalla One';
	font-weight: bold;
	text-align: center;
	font-size: 200%;
	margin: 10px 0px;
	text-shadow: 0.1em 0.1em 0.2em gray;
}

.ui-actionpanel .ui-actionpanel-roll {
	margin: 10px 0px;
	font-weight: bold;
	text-align: center;
	font-size: 150%;
}
