#actions {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 350px;
}

#board {
	width: 900px;
	height: 900px;
}

#dice #dice1,
#dice #dice2 {
	border: 1px solid black;
}

#dice #dice1 {
	position: absolute;
	right: 370px;
	top: 10px;
}

#dice #dice2 {
	position: absolute;
	right: 450px;
	top: 10px;
}

#propcard {
	z-index: 10;
	position: absolute;
	top: 90px;
	right: 370px;
}

#players {
	position: absolute;
	top: 120px;
	right: 10px;
	width: 350px;
}
