@import url('../css/overrides.css');

#progressbar {
	width: 250px;
}

.header {
	font-weight: bold;
}
.cell, .row {
	float: left;
}
.row {
	clear: left;
}
.cell {
	width: 100px;
}

.label {
	font-size: 85%;
}

.sublabel {
	font-size: 75%;
}

.rule {
	float: left;
	width: 100%;
}

.ruleinput, .gninput {
	float: right;
	clear: right;
}

.rulelabel, .gnlabel {
	float: left;
	clear: left;
}
